body {
    background-color: hsl(0, 0%, 95%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#principal {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    border-radius: 20px;
    padding: 40px;
}

#sedans {
    background-color: hsl(31, 77%, 52%);
    padding: 40px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;

}

#suvs {
    background-color: hsl(184, 100%, 22%);
    padding: 40px;
}

#luxury {
    background-color: hsl(179, 100%, 13%);
    padding: 40px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.box {
    width: 225px;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.heading {
    color: white;
    margin: 0;
    font-family: 'Big Shoulders Display', sans-serif;
    font-weight: 700;
    padding: 0;;
}

.para{
    color: white;
    margin: 0 auto;
    padding: 0;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    line-height: 1.8;
    padding-bottom: 20px;
}

.buttom {
    width: 130px;    
    background-color: white;
    border: 2px solid white;
    display: inline-block;
    padding: 10 5px;
    border-radius: 40px;
    transition: 0.3s;
    align-items: center;
    text-align: center;
}

.buttom a {
    text-decoration: none;
}

.buttom h2 {
    font-size: 15px;
}

#sedans .buttom h2 {
  color: hsl(31, 77%, 52%);
}

#sedans .buttom:hover {
  background-color: hsl(31, 77%, 52%);
}

#sedans .buttom:hover h2 {
  color: white;
}

#suvs .buttom h2 {
  color: hsl(184, 100%, 22%);
}

#suvs .buttom:hover {
  background-color: hsl(184, 100%, 22%);
}

#suvs .buttom:hover h2 {
  color: white;
}

#luxury .buttom h2 {
  color: hsl(179, 100%, 13%);
}

#luxury .buttom:hover {
  background-color: hsl(179, 100%, 13%);
}

#luxury .buttom:hover h2 {
  color: white;
}